@charset "UTF-8";

:root {
  --color-g: 	#009b48; 	
  --color-w: 	#ffffff; 	
  --color-r: 	#b71234; 
  --color-rd:   #94122d;
  --color-rl:   #ff7a7a;
  --color-y: 	#ffd500; 	
  --color-b: 	#1d58ad; 	
  --color-o: 	#ff5800;
  
  --color-c: rgb(222, 221, 218);
  --color-bg:	#2c3338;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: #050404;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover {
  transition: 0.3s;
}

#login,
#signup {
  border-radius: 5px;
  padding: 5px 8px;
}

#signup {
  border: 1px solid var(--color-b);
}

#login {
  border: 1px solid var(--color-rd);
}

#login a {
  color: var(--color-rd);
}

#signup a {
  color: var(--color-b);
}

#signup a:hover {
  text-shadow: 0 0 5px #77f;
}


#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}

.rainbow-text {
  font-size: 31px;
}
.rainbow-text .block-line > span {
	display: inline-block;
}

.block-line {
	background-image: linear-gradient(90deg,#B71234,#1D58AD,#009B48);
	color: #0000;
	-webkit-background-clip: text;
	background-clip: text;
}

