@charset "UTF-8";

:root {
  --color-g: 	#009b48; 	
  --color-w: 	#ffffff; 	
  --color-r: 	#b71234; 
  --color-rd:   #94122d;
  --color-rl:   #ff7a7a;
  --color-y: 	#ffd500; 	
  --color-b: 	#1d58ad; 	
  --color-o: 	#ff5800;
  
  --color-c: rgb(222, 221, 218);
  
  --bgc: #151515;
  --bgc-l: #1f1f1f;
  
  --grad-r: #732f2f;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  height: 100%;
}

body {
  background-color: var(--bgc);
  
  color: var(--color-c);
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  
  position: relative;
  height: 100%;
  min-height: 100%;
  min-height: 100vh;min-height: 100vh;
}

a,
.submit-button,
#search-button {
  color: #ff7a7a;
  outline: 0;
  text-decoration: none;
}

a:focus,
a:hover,
.submit-button:focus, 
.submit-button:hover,
#search-button:focus, 
#search-button:hover,
.delete-button:focus,
.delete-button:hover
{
  text-shadow: 0 0 5px var(--color-rl);
  cursor: crosshair;
}

main {
  width:100%;
  /* height: 90%; */
  min-height: 90%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#main-content {
	width: 700px;
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: 
    linear-gradient(
      #732f2f,
      #3b1b1b
    );
  border-radius: 5px;

  padding: 10px;

  margin-top: 20px;
}

.title {
  background: linear-gradient(
      #222,
      rgba(0,0,0,0)
    );
}

#main-links {
  text-align: center;
  font-size: 30px;
  color: #999;
}

@media only screen and (max-width: 700px) {
  #main-content {
    width: 100%;
  }
}

.mobile-menu {
  background-color: var(--bgc);
}

.err {
	color: var(--color-rl);
}

.title-cr span{
  font-size: 50px;
}

/* ----------- ---------------*/

select {
  font: inherit;
  border-radius: 0px;
  outline: none;
  border: 1px solid var(--color-rd);
  
  background-color: rgba(0,0,0,0);
  color: var(--color-c);
}

.edit-table td:first-child {
  color: #999;
}

.edit-table tr {
   height: 40px; 
}
.edit-table td {
  padding-right: 20px;
}

textarea {
  color: var(--color-c);
  background-color: #1f1f1f;
  border: 1px solid var(--grad-r);
  font-size: inherit;
  width: 100%;
  height: 150px;
  
  -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            
  resize: none;
  padding: 5px;
}

textarea:focus {
  outline: none;
}

#edit-about {
  float: right;
}

.main-heading {
  font-size: 24px;
}

hr {
/*   background: linear-gradient(
    to right,
    var(--bgc),
    var(--grad-r),
    var(--grad-r),
    var(--grad-r),
    var(--grad-r),
    var(--grad-r),
    var(--bgc)
  ); */
  color: var(--grad-r);
}

.save-button {
  background-color: var(--bgc);
  color: var(--color-rl);
}

.submit-button {
  float: left;
  font: inherit;
  
  background-color: var(--bgc);
  color: var(--color-rl);
}

#about {
  resize: none;
  background-color: var(--bgc);
  border: 1px solid var(--grad-r);
}

#user-about {
  display: inline-block;
  width: 100%;
  border: 1px solid var(--grad-rd);
  overflow: hidden;
}

.main-heading {
  float: left;
}

#search-button {
  background-color: rgb(0,0,0,0);
}

input[type=text] {
  color: var(--color-c);
  background-color: #1f1f1f;
  border: 1px solid var(--color-rd);
  font-size: inherit;
  -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.ver-line {
  color: var(--color-rl);	
}

.search-text {
  width: 300px;
}

.search-text::placeholder {
  font-size: 16px;
}

h1 {
  font-weight: normal;
}

.delete-button {
  font: inherit;
  background-color: rgb(0,0,244,0);
  color: var(--color-rl);
  outline: none;
  border: none;
  margin: 0px;
}

.float-right {
  float: right;
  margin-top: 5px; 
}

#user-about {
  background-color: #2f2f2f;
  padding: 1px 1px 1px 7px;
}

/* ----------  ALL-TABLE  ------------- */

.all-table {
  margin-top: 10px;
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  border: 1px solid var(--grad-r);
}

.all-table td:first-child,
.all-table th:first-child
{
  text-align: left;
}

.all-table td:not(:first-child) {
  text-align: center;
}

.all-table td,
.all-table th {
  padding: 2px 4px 2px 15px;
}

.all-table tr:nth-child(even) {
  background-color: #111;
}

.all-table tr:nth-child(odd) {
  background-color: #222;
}



/* ------- ----------*/

.cube-detail-table * {
  padding-right: 15px;
}

.cube-detail-table th {
  color: var(--color-rl);
  text-shadow: 0 0 4px var(--color-rl);
}

.cube-detail-table td:first-child {
  color: #999;
}

/* ----------  FOOTER ------------- */


footer {
  width: 100%;
  height: 30px;
  font-size: 16px;
  bottom: 0;
  justify-content: center;
  background-color: #202020;
  
  
  display: flex;
}

#footer-content {
  width: 700px;
  float: left;
  padding: 3px;
  color: #555;
}

#footer-content a {
  color: #a44;
}


